<!-- HEADER - INICIO -->
<header id="topnav" class="defaultscroll fixed-top sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="index.html" class="logo text-uppercase py-2">
                <!-- Logo web -->
                <img src="../../../assets/img/logo-cliente.png" alt="" class="logo-light" height="80">

                <!-- Logo mobile -->
                <img src="../../../assets/img/logo-cliente.png" alt="" class="logo-dark" height="60">
            </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a id="mobile-nav" (click)="toggleNavbar()"
                    [ngClass]="abrirNavbar ? 'navbar-toggle open' : 'navbar-toggle'">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation" class="collapse">
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li class="">
                    <a href="#team">Para você</a>
                </li>
                <li class="last-elements">
                    <a href="#pricing">Para empresas</a>
                </li>
            </ul>
        </div>
    </div>
</header>
<!-- HEADER - FIM -->

<section class="home-half" id="home">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row vertical-content">
                    <div class="col-lg-8 text-left mt-3 p-4">
                        <p class="display-4 text-white">
                            Avaliação online <b>SAFE da SAÚDE FUNCIONAL</b> Equilibrio mente e corpo
                        </p>

                        <!-- <p class="pt-4 home-sub-title text-white">Lorem ipsum dolor sit amet, consectetur adipisicing
                            elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                            minimveniam, quis nostrud exercitation.
                        </p> -->
                        <div class=" pt-4">
                            <button class="btn btn-verde-plataforma-safe btn-lg text-white btn-rounded" (click)="toggleAbrirModalCadastrarUsuario()">
                                Cadastre-se
                            </button>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-3">
                        <div class="home-registration-form bg-white p-5">
                            <h4 class="form-title mb-4">Acesso a Plataforma</h4>
                            <form class="registration-form">

                                <label class="text-muted">E-mail</label>
                                <input type="email" id="email" class="form-control registration-input-box" required>

                                <label class="text-muted">Senha</label>
                                <input type="password" id="senha" class="form-control registration-input-box" required>

                                <button class="btn btn-verde-plataforma-safe w-100 text-uppercase mt-4">Acessar</button>

                                <div class="mt-2">
                                    <span class="text-muted cursor-pointer" (click)="toggleAbrirModalEsqueciSenha()">
                                        Esqueci a senha
                                    </span>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer - inicio -->
<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">

                    <p class="text-uppercase footer-title">Plataforma Safe</p>
                    <ul class="list-unstyled company-sub-menu">
                        <li>
                            <a href="#">
                                <img src="../../../assets/img/logo-cliente.png" alt="" class="logo-light" height="120">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">

                    <p class="text-uppercase footer-title">Suporte</p>
                    <ul class="list-unstyled company-sub-menu">
                        <li>
                            <a href="mailto:contato@metodosafe.com.br">contato@metodosafe.com.br</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <p class="text-uppercase footer-title">Termos</p>
                    <ul class="list-unstyled company-sub-menu text-center">
                        <li><a href="#">Uso</a></li>
                        <li><a href="#">Politica de Privacidade</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <p class="text-muted">
                Copyright © 2023 Plataforma SAFE | 1.0.0.380
            </p>
        </div>
    </div>
</section>
<!-- footer - fim -->